h1 {
    color: slateblue;


}

p {
    color: rgb(85, 0, 255);
    font-size: 18px;
    font: veranda, sans-serif;
    padding: 20px;
    text-align: left;
}

nav {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#aquamarinePara {

    color: aquamarine
}

.pinkClass {
    color: gray;

}
body{
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #148e0055, #148e00 );
}
