h1 {
    color: slateblue;


}

p {
    color: rgb(85, 0, 255);
    font-size: 18px;
    font: veranda, sans-serif;
    padding: 20px;
    text-align: left;
}

nav {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#aquamarinePara {

    color: aquamarine
}

.pinkClass {
    color: gray;

}

body {
    background-color: lightgrey;
    background-image:url(https://github.com/DarrenHutchins/final_project/application/Images/Backgroundimage.png);
    background-position: centre;
}