h1 {
    color: slateblue;


}

p {
    color: magenta;
    font-size: 12px;
    font: veranda, sans-serif;
    padding: 20px;
    text-align: left;
}

nav {
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#aquamarinePara {

    color: aquamarine
}

.pinkClass {
    color: gray;

}

body {
    background-color: lightgrey
}