<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">


    <title> Welcome To SkyUpcycle!</title>

    <link rel="stylesheet" href="myStyles.css" />
    
    




</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SkyUpcycle!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicepage.html"> What Do We Offer? </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="Sky0.html">Sky 0</a></li>

                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="More.html">More!</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>
    <div class="row">
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="SkyLogo.png" class="card-img-top" alt="SkyLogo">
                <div class="card-body">
                    <h5 class="card-title">Who Are We</h5>
                    <p class="card-text">Here at Sky we are commited to making our world a better place.
                    this is why we have launced this new service to remove your unused, unwanted sky equipment by your local
                    trusted sky engineers!</p>
                    <a href="servicepage.html" class="btn btn-primary" >Tell me more! </a>

                </div>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="Skyengineer.jpg" class="card-img-top" alt="SkyEngineer">
                <div class="card-body">
                    <h5 class="card-title">How Does It Work?</h5>
                    <p class="card-text">It's simple. Create an account, tell us a little about your property and
                    equiptment, choose a date. DONE. </p>
                    <a href="servicepage.html" class="btn btn-primary"> Our Service  </a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="codingphoto.jpg" class="card-img-top" alt="Coding photo">
                <div class="card-body">
                    <h5 class="card-title">Future: Aspiring Software Developer</h5>
                    <p class="card-text">I am also currently on a training corse whilst working for sky called get into
                        tech. This corse is designed to give me the fundimentals behing software development. I hope for
                        the futre that this will be my career path.</p>
                    <a href="https://www.codewars.com/" class="btn btn-primary">Code wars </a>
                </div>
            </div>
        </div>
    </div>




    <footer>Created By Darren &copy;</footer>


</body>












</html>