<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <title> Log In Page
    </title>
    <link rel="stylesheet" href="myStyles.css" />

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SkyUpcycle!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Sky0.html"> Sky Zero </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicepage.html"> Services </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="LogIn.html"> LogIn </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="Allaboutsky.html">All About Sky</a></li>
                            <li><a class="dropdown-item" href="FAQ">FAQ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="HelpMe.html">Help!</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>


                
            </div>
        </div>

    </nav>



    <form action="action_form" style="border:1px solid #ccc">
        <div class="container">
          
          <p>Please fill in this form to create an account.</p>
      
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="signupbtn">Sign Up</button>
            
          </div>
        </div>
      </form>
      <hr>
      <form action="action_form" style="border:1px solid #ccc">
        <div class="container">
          
          <p>Exising users log in here</p>
          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <label>
            <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
          </label>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn">Cancel</button>
            <button type="submit" class="loginbtn">LogIn</button>
            <hr>
          </div>
        </div>
      </form>

    <table>
        <tr>
            
        </tr>
        <tr>
            <td>1.SKY
                <a href= http://www.sky.com> Link for SKY</a>
            </td>

        </tr>

        <tr>
            <td>2.Gaming
                <a
                    href="https://en.wikipedia.org/wiki/History_of_video_games#:~:text=The%20history%20of%20video%20games,games%20on%20a%20video%20display.">Link
                    to wikipedia for the history of Gaming</a>
            </td>
        </tr>

        <tr>
            <td>3.Guinness
                <a href="https://www.guinness.com/en-gb">Link for Guinness website</a>

            </td>

        </tr>
        <tr>

            <td>4.spending time with the wife</td>
        </tr>
        <tr>

            <td>5.Food
                <a href="https://www.nationalrestaurantawards.co.uk/">Link to Top 100 resturants in the UK</a>

            </td>
        </tr>
    </table>

    <nav>
        <h3> <a href="https://www.dummies.com/article/technology/programming-web-design/general-programming-web-design/github-for-dummies-cheat-sheet-261928/"> For all your help on github issues </a> </h3>
    </nav>

    <!--Table tags are as follows tr= table row td= table data th=table headder -->
    <tr>
        

    </tr>
    
<hr>
<footer align = "center"> Made By The Codewizards &copy;</footer>
<style>
    .center-text {
        text-align: center;
        font-size: 12px; /* Adjust the font size to your preference */
    }
</style>

<p class="center-text">This document was last modified: <span id="demo"></span></p>
<script>
    let text = document.lastModified;
    document.getElementById("demo").innerHTML = text;
</script>
    
    

</body>

</html>