<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Sky zero</title>
    <link
      rel="icon"
      href="https://static.skyassets.com/contentstack/assets/bltf935cb89c19a4bc6/blt24bbe02079b94fe4/60267ed7e4872a6e77ce4576/SAVE-FOR-WEB-SZ.png"
      type="image/x-icon"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="myStyles.css" />
    <style>
      body {
        background-image: url("https://static.skyassets.com/contentstack/assets/bltdc2476c7b6b194dd/bltfdaff262b169708e/5e39388a7e155302ca0c9c40/Sky_Zero_Imagery_24.01.20_Page_01.jpg?downsize=640:*&output-format=jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    </style>

    <title>Sky Zero</title>
  </head>

  <body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="Home.html">
            <img src="https://raw.githubusercontent.com/DarrenHutchins/final_project/0557c0b146c33af404bdcd9ba6a04366717a45f8/application/Images/icon%20image.ico" alt="Logo" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="servicepage.html">What Do We Offer?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="Login.html">Your Account</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Sky0.html">Sky 0</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="More.html">More!</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search" action="https://www.google.com/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search Google" aria-label="Search" name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
  </body>
</html>
