<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Diphylleia&display=swap" rel="stylesheet">
 <link rel="stylesheet" href="{{url_for('static', filename='myStyles.css')}}">
    <title>What Will Happen On The Day!</title>



</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">


<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#section1">Old Equipment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section2">What do we recycle</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section3">During your visit</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        How do we dispose
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#section41">Dish and Cable</a>
        <a class="dropdown-item" href="#section42">Boxes</a>
      </div>
    </li>
  </ul>
</nav>

<div id="section1" class="container-fluid bg-primary" style="padding-top:70px;padding-bottom:70px">
  <h1>Old Sky equipment?</h1>
  <p>Okay, you want to get rid of a Satellite dish that is attached to your home.<br> Old boxes stuck in your loft.  What do you do? </p>
  <p>Short answer = Log onto Sky UpCycle.com</p>
</div>
<div id="section2" class="container-fluid bg-white" style="padding-top:70px;padding-bottom:70px">
  <h1>What do we recycle?</h1>
  <p>We'll take Old:
  <ul>
  <li>Dishes</li>
  <li>Boxes</li>
  <li>Routers</li>
  <li>Cables</li>
</ul>
   </p>

</div>
<div id="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
  <h1>What will we do?</h1>
  <p>Our experienced engineers will visit your property and remove any old Sky equipment you have.</p>
  <p> We will take your old dish off the wall, fill in screw holes (if any). Remove the old cable and take them all completely away!</p>
</div>
<div id="section41" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
  <h1>Satelite dishes and Cables</h1>
  <p>Satelite dishes are primarily made up of:
  <ul>
  <li>Plastic</li>
  <li>Metal</li>
  <li>Circuit Board</li>
</ul>
  </p>
  <p>Most recyclers will accept Satellite dishes as scrap metal and the plastic will be removed as part of the recycling process.<br> The circuit board, which contains lead, mercury, cadmium; will be extracted from the dish and recycled separately. </p>
  <p>Copper and aluminium are used in cables, leads and wiring. These are materials that can be turned into new products.<br>Recycling these also  means the plastic coating won’t end up polluting the environment.
</div>
<div id="section42" class="container-fluid bg-info" style="padding-top:70px;padding-bottom:70px">
  <h1>Boxes and Routers</h1>
   <p>We can reuse most parts of your old products, and any parts we can’t reuse we recycle.</p>
  <p>We aim to minimise the impact of waste on the environment, by reducing the amount going to landfill and increasing reuse and recycling of old    products.<br> By collecting waste electrical and electronic products separately, we can ensure they are sent for specialist treatment and assessment for reuse or recycling. </p>

</div>

</body>
</html>
